{% extends 'base.html' %}
{% block content %}

<head>
    <title>Хяналтын Ажил</title>
    <style>
        .upload-form {
            margin: auto;
        }

        .loadingSpinner {
            display: none;
            border: 4px solid rgba(0, 0, 0, 0.1);
            border-radius: 50%;
            border-top: 4px solid #3498db;
            width: 20px;
            height: 20px;
            animation: spin 1s linear infinite;
            margin-right: 5px;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
      
        
        
    </style>
</head>
<section class="upload-form">
    <div class="container">
        <div class="row justify-content-center align-items-center min-vh-100">
            <div class="col first-container">
                <div class="bg-light p-5 rounded">
                    {% if user.is_authenticated %}
                    <p>Тавтай морил, {{user.username}}! та нэвтэрлээ.</p>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="formFile" class="form-label"> Хяналтын Ажлыг оруул </label>
                            <input type="file" class="form-control" name="file" id="formFile" accept=".xlsx, .xls" />
                        </div>
                        <button type="submit" class="btn btn-primary">Файл оруулах</button>
                    </form>
                    {{ error_message }}
                    <button id="getReport" class="btn btn-success"> Хяналтын Ажлын Тайлан дата авах <span
                            id="loadingGetReport" class="loadingSpinner"></span>
                    </button>
                    <button id="downloadButton" class="btn btn-primary">
                        <a href="{{ excel_url }}" class="text-white">Татаж авах</a>
                    </button>
                    <button id="deleteHosts" class="btn btn-danger"> Хяналтын Ажлуудыг устгах <span
                            id="loadingDeleteHosts" class="loadingSpinner"></span>
                    </button>
                    {% else %}
                    <p>Please <a href="{% url 'your_login_url' %}">log in</a> to access this page.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>


<script>
    $(document).ready(function () {
        $("#downloadButton").hide();
        $("#getReport").click(function () {
            $(this).prop("disabled", true);
            $("#loadingGetReport").show();
            $.ajax({
                type: "GET",
                url: "{% url 'get_report' %}",
                success: function (response) {
                    if (response.success == true) {
                        $("#downloadButton").show();
                        $("#getReport").hide();
                        alert("Successfully.");
                    }
                },
                error: function (error) {
                    console.log(error);
                    alert("Failed to get the report.");
                },
                complete: function () {
                    $("#loadingGetReport").hide();
                },
            });
        });
    });
    $(document).ready(function () {
        $("#deleteHosts").click(function () {
            $(this).prop("disabled", true);
            $("#loadingDeleteHosts").show();
            $.ajax({
                type: "DELETE",
                url: "{% url 'delete_hosts' %}",
                success: function (response) {
                    console.log(response);
                    alert(response.message);
                },
                error: function (error) {
                    console.log(error);
                    alert("Failed to delete hosts. Please try again.");
                },
                complete: function () {
                    $("#loadingDeleteHosts").hide();
                },
            });
        });
    });
</script> {% endblock %} </body>